---
---

@import "minimal";

.wrapper {
  width: 90%;
  max-width: 1200px;
}

section {
  width: calc(100% - 300px);
  float: right;
}

@media screen and (max-width: 960px) {
  section {
    width: 100%;
    float: none;
  }
  .wrapper {
    width: 95%;
  }
}
