---
---

@import "minimal";

.wrapper {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
}

header,
section,
footer {
  width: auto;
  float: none;
  position: static;
}

footer {
  bottom: auto;
  margin-top: 40px;
}
